<a href='javascript:void(0)' class='primary_image' data-toggle="modal" data-target="#photo-modal">
  <img src='http://placehold.it/800x300&text=placeholder'></img>
</a>
<div class="modal fade" id="photo-modal" tabindex="-1" role="dialog" aria-hidden="true">

  
    <a class="close" data-dismiss="modal"><i class='fa fa-times-circle fa-4x'></i></a>

    <div class="modal-content">
    </div>
  </div>
</div>
<div id='listing-basic'>
  <!-- TODO: most of this info will be in the search index. can load before fetch. includes booking form -->
</div>

<div id='listing-amenities'></div>
<div id='listing-basic'></div>
