  <div class='media alert-body'>
    <div class='media-left media-middle'>
      <i class='media-object icon info circle huge'></i>
    </div>
    <div class='media-body'>
      <div class='media-heading h4'><%= alert.heading %></div>
      <div class='h5 text-muted'><%= alert.info %></div>
    </div>
  </div>
