<% flash.each(function(message, key){ %>
  <div class="alert alert-<%=key%>">
    <a href="#" data-dismiss="alert" class="close">x</a>
        <strong class='col-md-12'><%= message %></strong>
    </div>
<% }) %>
