<div class='featured-location'>
  <a href='javascript:void(0)'><img class='browse-img' src='<%= location.get('image_url') %>'></img></a>
  <span class='location-name'><%= location.get('name') %></span>
</div>
