<form action="<%= url %>" method="POST" class='loginlogout' data-action="<%= is_login ? 'login' : 'signup' %>">
  <%= csrf_inject %>
  <div class="form-group">
    <div class="input-group">
      <div class="input-group-addon" >Email</div>
        <input name="user[email]" class="form-control email" placeholder="Email@domain"/>
      <!--</label>-->
    </div>
    <div class="input-group">
      <div class="input-group-addon ">Password</div>
        <input class="form-control pw" type="password" name="user[password]" placeholder="******"/>
    </div>
  </div>
  <% if modal %>
    </div>
    <div class='modal-footer'>
  <% end %>

  <input type="submit" class="btn btn-info form-control" data-action="<%= is_login ? 'login' : 'signup' %>" value="Submit" />
</form>

<% if modal %>
  <button class='guest-login btn form-control'>Guest Login</button>
  </div>
<% end %>
