<form action="<%= url %>" method="POST">
  <%= csrf_inject %>
  <div class="form-group">
    <div class="input-group">
      <div class="input-group-addon" >Email</div>
        <input name="user[email]" class="form-control" placeholder="Email@domain"/>
      <!--</label>-->
    </div>
    <div class="input-group">
      <div class="input-group-addon ">Password</div>
        <input class="form-control" type="password" name="user[password]" placeholder="******"/>
    </div>
  </div>
  <% if modal %>
    </div>
    <div class='modal-footer'>
  <% end %>

  <input type="submit" class="btn btn-info form-control" value="Submit" />
</form>

<% if modal %>
  <a href="#" class="btn" data-dismiss="modal">Cancel</a>
  </div>
<% end %>
