video.banner-video {
  top:-70px;
  left:0;
  z-index: -1;
  position: relative;
  overflow: hidden;
}

.welcome {
  position:absolute;
  top: 100px;
  left:50%;
  color: #fff;
  transform: translateX(-50%);
  .welcome_message {
    font-size: 45px;
  }
  .tagline {
    font-size: 20px;
  }
  .how-it-works {
    margin-top: 20px;
  }
  button.about {
    background: #aaa;
    opacity: .7;
    border-radius: 3px;
  }
  div, button {
    margin-left: auto;
    text-align: center;
  }
}

nav.navbar.navbar-default.landing {
  background-color:transparent;
  color: #fff;

  border: none;
  div:not(.modal-content) {
    background-color:inherit;
    color:inherit;
  }
  div.modal-content {
    width: 300px;
    margin:auto;
    color: #000;
  }
  li > a {
    color:inherit;
  }
}
