video.banner-video {
  top:-70px;
  left:0;
  z-index: -1;
  position: relative;
  overflow: hidden;
}

nav.navbar.navbar-default.landing {
  background-color:transparent;
  color: #fff;
  border: none;
  div:not(.modal-content) {
    background-color:inherit;
    color:inherit;
  }
  div.modal-content {
    width: 300px;
    margin:auto;
    color: #000;
  }

}
