// Place all the styles related to the Listings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


a.primary_image > img {
  width:100%;
  height: 60vh;
}

.media-round {
  border-radius: 50%;
  border: 2px solid #fff
}

.listing-section {
  &:before {
    content: "";
    display: block;
    height: 2px;
    background: #aaa;
    width: 110%;
  }
  &:first-of-type {
    height: 100%;
  }
  position: relative;
  padding: 20px 10px 20px 0px;
  height: 150px;
  overflow: hidden;
  transition: height .3s;
  transition-timing-function: ease;
}

.cate-title {
  color: #919191;
  margin-top: 20px;
  height: 100%;
}

.cate-detail {
  // &:before {
  //   content: "";
  //   position: absolute;
  //   display: block;
  //   top: 0;
  //   bottom: 0;
  //   width: 2px;
  //   background: #aaa;
  // }
  & i.unprovided {
    color: #aaa;
    &+span{
      text-decoration: line-through;
    }
  }
  overflow: hidden;
  margin-top: 20px;
}

.listing-expand {
  position:absolute;
  bottom: 0px;
  right: 10px;
  font-size: 12px;
}

.cate-item:nth-child(n+2) {
  margin-top: 20px;
}
