.listing-show {
  a.primary_image > img {
  }
  a.close {
    position:fixed;
    top:30px;
    right: 30px;
    color:white;
  }
  .modal-content {
    background: transparent;
    width: 100;
    height: 100%;
    div.thumbnails {
      margin-top: 100px;
      background: transparent;
      height: 100px;
      overflow: hidden;
      .item {
      }
    }

    #photoCarousel {
      margin-top: 200px;
      width:100%;
      img.item {
        max-width:800;
      }
      .carousel-control {
        position:fixed;
        &.left {
          left: 12px;
        }
        &.right {
          right: -12px;
        }
        top: 50%;
        height: 100%;
        font-size: 100px;
        background-image: none;
      }
    }

    #thumbCarousel {
      margin-bottom: 10px;
      width:100%;
      .item {
        margin:auto;
      }
      .carousel-indicators {
        position:absolute;
        bottom: -50px;
      }
      .carousel-control {
        position:absolute;
        &.left {
          left: 12px;
        }
        &.right {
          right: -12px;
        }
        top: 50%;
        height: 100%;
        font-size: 40px;
        width: 1em;
        background-image: none;
      }
    }
  }

}
