

    <form class='form-detail'>
      <div class='detail-full-search search-form'>
      </div>
    </form>

    <div class='search-results'>
        <i class='spinner loading icon huge'></i>
    </div>
