
  <video class='banner-video video' autoplay loop>
    <source src='https://s3-us-west-2.amazonaws.com/lairdnd/banner.webm' type='video/webm'>
    Your browser does not support the video tag.
  </video>

  <form class='form-field'>
    <div class='col-md-7 full-search-form search-form'>
      <div class="form-group col-md-4">
        <input name="search[location]" placeholder="Where are you staying?" value="">
      </div>
      <div class="form-group col-md-2">
        <input name='search[checkin]' class="datepicker " id="checkin" placeholder="Check In">
      </div>
      <div class="form-group col-md-2">
        <input name='search[checkout]' class="datepicker " id="checkout" placeholder="Check Out">
      </div>
      <div class='form-group col-md-2'>
          <select name='search[guests]' class='form-control' id='guests'>
            <% for(var i = 1; i < 15; i++) { %>
              <option value='<%= i %>'>
                <%= i %> Guest<% if (i > 1) { %>s<% } %>
              </option>
            <% } %>
          </select>
      </div>
      <div class="form-group col-md-2">
        <button class="submit search form-control">Submit</button>
      </div>
    </div>
  </form>
